{% extends 'base.tmpl' %}
{% comment %}
yamanokikaku.main.tmpl Copyright (c) 2012 Kanda.Motohiro@gmail.com
coding=utf-8
{% endcomment %}
{% block content %}
<h1>山の企画</h1>
山岳会での、山行企画の紹介と申し込みをウエブで行う。
<br>
現在出ている企画の一覧を表示する。<br>
ログインすると、申し込みができる。<br>
アカウントは、OpenID を使う。<br>
ログインすると、現在の参加者一覧が見える。それぞれの今までの山行参加の記録も見える。<br>
プログラムの中の関数名などは、日本語ローマ字とする。<br>
<a href="https://github.com/Kanda-Motohiro/yamanokikaku">オープンソース</a>
にする。 <br>
スマートフォンでない携帯電話からも使えること。文字コードは、シフトJIS.<br>
しかし、私の電話から、 google, yahoo openid login がいずれも失敗した。<br>
javascript, css, table html tag などは、使わない。<br>
<br>
に、しても、これくらいのもの、どこかにころがってないでしょうか。<br>
<br>
ご注意：<br>
これは、私が開発中のサイトです。ここで、申し込みなどをされても、どこにも届きません。<br>
<hr>

{{ body }}
<br>
<hr>
<a href="developer.html">開発者向け情報</a><br>
連絡先 kanda.motohiro@gmail.com<br>
{% endblock %}
