{% extends 'base.tmpl' %}
{% comment %}
yamanokikaku.login.tmpl Copyright (c) 2012 Kanda.Motohiro@gmail.com
coding=sjis
{% endcomment %}
{% block content %}
login:
{{ body|sjis }}
{% endblock %}
