{% extends 'base.tmpl' %}
{% comment %}
yamanokikaku.login.tmpl Copyright (c) 2012, 2013 Kanda.Motohiro@gmail.com
coding=utf-8
{% endcomment %}
{% block title %}ログイン - 山の企画{% endblock %}
{% block content %}
お持ちの ID でログインください。<br>
{{ body }}
このサイトは、それ自身の会員登録機能を持ちません。あなたが、前にあげた
サイトに会員登録されていれば、そのアカウントがそのまま使えます。<br>
これを、OpenID オープンアイディー、あるいは、OAuth
オーオースによる会員情報の共有といいます。
<a href="https://www.dominos.jp/openid/index.html">ドミノピザさんの説明</a>がわかりやすくていいと思います。<br>
<br>
他に、ご使用の OpenID プロバイダーがありましたら、ご連絡下さい。<br>
<br>
ご注意。携帯電話からは、うまくログインできないことがあります。
おそれいりますが、そのときは、パソコン、スマートフォンなどから
ご利用下さい。<br>

<a href="/">ホーム</a>
{% endblock %}
