{% extends 'base.tmpl' %}
{% comment %}
yamanokikaku.logout.tmpl Copyright (c) 2012 Kanda.Motohiro@gmail.com
coding=utf-8
{% endcomment %}
{% block content %}
<a href='{{ body }}'>ログアウト</a><br>
<br>
<a href="/">ホーム</a>
{% endblock %}
