{% extends 'base.tmpl' %}
{% comment %}
yamanokikaku.main.tmpl Copyright (c) 2012 Kanda.Motohiro@gmail.com
coding=utf-8
{% endcomment %}
{% block content %}
<h1>山の企画</h1>
山岳会での、山行企画の紹介と申し込みをインターネットで行います。<br>
<br>
ご注意：<br>
これは、私が開発中のサイトです。ここで、申し込みなどをされても、どこにも届きません。<br>
<hr>
<a href='/table'>表形式で見る</a>。<br>
{{ body }}
<br>
<hr>
<a href="developer.html">開発者向け情報</a><br>

<h3>開発の要件</h3>
現在出ている企画の一覧を表示する。<br>
ログインすると、申し込みができる。<br>
アカウントは、OpenID を使う。<br>
ログインすると、現在の参加者一覧が見える。それぞれの今までの山行参加の記録も見える。<br>
私以外の人がメンテナンスしやすいように、プログラムの中の関数名などは、日本語ローマ字とする。<br>
<a href="https://github.com/Kanda-Motohiro/yamanokikaku">オープンソース</a>
にする。 <br>
スマートフォンでない携帯電話からも使えること。文字コードは、シフトJIS.<br>
javascript, css, table html tag などは、使わない。<br>
パケット定額契約でない人のため、画像、写真は、使わない。<br>
企画は、月に１度、エクセルファイルをCSV 形式にしたものを、アップロードする。<br>
企画をアップロードする作業も含めて、パソコンに詳しくない、中高年者に使いやすいこと。<br>
アップロード等の管理作業は、Windows パソコンから行われる。<br>
<br>
現在の山岳会事務を、全部、これに移行する気は全くない。電話とFAX、
ローカルのエクセルファイルと、共存すること。２度手間はできるだけなくすこと。<br>
<br>
Google App Engine クラウドサービスで動作する。これは、私の趣味。<br>
<br>
に、しても、これくらいのもの、どこかにころがってないでしょうか。<br>
<br>
連絡先 kanda.motohiro@gmail.com<br>
{% endblock %}
