{% extends 'base.tmpl' %}
{% comment %}
yamanokikaku.main.tmpl Copyright (c) 2012 Kanda.Motohiro@gmail.com
coding=utf-8
{% endcomment %}
{% block content %}
<h1>山の企画</h1>
山岳会での、山行企画の照会と申し込みをインターネットで行います。<br>
<br>
ご注意：<br>
これは、私が開発中のサイトです。ここで、申し込みなどをされても、どこにも届きません。<br>
<hr>
<a href='/table'>表形式で見る</a>。<br>
{{ body }}
<br>
<hr>
<h3>開発の要件</h3>
山岳会の会員向けに、インターネットで山行企画の申し込みができるシステムを提供する。<br>
現在出ている企画の一覧を表示する。<br>
アカウント、つまり会員ごとのパスワード管理は、OpenID を使う。<br>
OpenID ログインをすると、申し込みができる。<br>
また、現在の参加者一覧が見える。それぞれの今までの山行参加の記録も見える。<br>
企画は、月に１度、エクセルファイルをCSV 形式にしたものを、アップロードするのが、主な入力。
１件毎のフォーム入力も可能とする。<br>
<br>
決めてないこと<br>
締切日になったときにやること。応募者一覧にそれぞれの緊急時連絡先をつけたものを
画面表示するので、事務局で印刷してもらって、他の手段による申し込みとあわせて、リーダーに送付してもらうのがよいか。<br>
FAX で受けた申し込みを、事務局で、これに転載するしかけを提供するか。<br>
会員の緊急連絡先は、本人に入れてもらうか、既に名簿になったものから一括入力するのがいいか。<br>
<br>
アップロード等の管理作業は、Windows パソコンから行われる。<br>
管理作業も含めて、ＩＴに詳しくない、中高年者に使いやすいこと。<br>
スマートフォンでない携帯電話からも使えること。文字コードは、シフトJIS とする。<br>
javascript, css, table html tag など、一部の携帯電話でサポートされていない
ＨＴＭＬ機能は、使わない。あるいは、代替手段を提供する。<br>
パケット定額契約でない人のため、画像、写真は、使わない。あるいは、最小限とする。<br>
<br>
現在の山岳会事務を、全部、これに移行する気は全くない。電話、FAX、メール、
ローカルのエクセルファイルと、共存すること。２度手間はできるだけなくすこと。<br>
<br>
セキュリティと個人情報について。<br>
いつ、どんな山行企画が出ているかは、会員以外にも公開される。
リーダーも含めて、参加者の氏名は、会員だけに公開される。会員の緊急時連絡先は、リーダーと事務局
だけに公開される。ただし、現在は、デモ実装なので、 OpenID ログインした人は会員とみなされます。<br>
このサイトは、会員のパスワードを保存しない。山行企画の申し込み受付に
必要とされない個人情報はできるだけ保存しない。<br>
<br>
以下は、ほぼ、私の趣味で決めたことです。<br>
<a href="https://github.com/Kanda-Motohiro/yamanokikaku">オープンソース</a>
にする。 <br>
私以外の人がメンテナンスしやすいように、プログラムの中の関数名などは、日本語ローマ字とする。<br>
Python 言語で書かれ、Google App Engine クラウドサービスで動作する。<br>
<br>
に、しても、これくらいのもの、どこかにころがってないでしょうか。<br>

<h3>うちの山岳会のみなさまむけのＱ＆Ａ</h3>
Ｑ．なぜ、このようなものが必要ですか。何が利点ですか。<br>
Ａ．リアルタイムで、山行企画の照会と参加申し込みができ、経過も公開されることが特長です。
具体的には、例えば、<br>
（１）空いている企画を探せる。申し込んだけど、リーダーから、定員超過のためにおことわりの
電話をもらってがっかりしたことのある人は多いと思います。その時になってから、他の企画を探しても、
たいてい、申込日を過ぎています。<br>
（２）知り合いの参加している企画を探せる。<br>
（３）会山行の企画は３ヶ月前までに本部に提出、という規則がありますが、この緩和に役立てるかと
思います。<br>
<br>
Ｑ．サーバーはどこにあるのですか。<br>
Ａ．このプログラムは、グーグル社のアップエンジンというクラウドで動作します。私が自宅でパソコンを上げているわけではありません。<br>
<br>
Ｑ．プログラムの権利は誰に属しますか。<br>
Ａ．私です。私が、自宅で、余暇を使って、１００％、書いたものです。<br>
<br>
Ｑ．運用に費用はかかるのですか。<br>
Ａ．今のところ、無料です。<br>
プログラムは、グーグル社のサーバーやネットワーク資源を使って動きます。
グーグル社は、プログラムの Web ページアクセス数や、使用ディスク量が少ないうちは、無料で資源を
使わせてくれます。以下のページに詳細がありますが、１日の送受信メッセージ量、使用ディスク、とも、１GB が、無料枠のようです。<br>
https://developers.google.com/appengine/docs/quotas<br>
将来的にも、この無料枠が提供されるかは不明です。課金が発生した場合、会で費用負担下さい。
また、appspot.com という DNS ドメイン名は、グーグル社が開発者のために無料で提供しているものです。<br>
<br>
Ｑ．kanda さんは、なぜ、これをやるのですか。あなたが退会したらどうなりますか。<br>
Ａ．趣味と、自分の便利のためです。システム開発と運用について、会からお金をいただきません。<br>
ソースコードは公開しているので、ＩＴに詳しい人がいれば、引き継げるでしょう。
お金を払えば、システムの維持と運用をやってくれる業者もいるでしょう。<br>
<br>
Ｑ．会の事務作業が増えるだけでないですか。<br>
Ａ．かもしれません。うまくいけば、FAX やメールでの申し込みが減って、作業軽減に役立つかもしれません<br>
<br>
Ｑ．<br>
Ａ．<br>
<a href="developer.html">開発者向け情報</a><br>
<br>
連絡先 kanda.motohiro@gmail.com<br>
{% endblock %}
