{% extends 'base.tmpl' %}
{% comment %}
yamanokikaku.main.tmpl Copyright (c) 2012 Kanda.Motohiro@gmail.com
coding=sjis
{% endcomment %}
{% block content %}
<h1>山の企画</h1>
山岳会での、山行企画の紹介と申し込みをウエブでできるようにしたいです。
<br>
現在出ている企画の一覧を表示する。<br>
ログインすると、申し込みができる。<br>
アカウントは、OpenID を使う。<br>
ログインすると、現在の参加者一覧が見える。それぞれの今までの山行参加の記録も見える。<br>
オープンソースにする。<br>
<hr>
{{ body|sjis }}
<br>
<hr>
<a href="developer.html">開発者向け情報</a><br>
連絡先 kanda.motohiro@gmail.com<br>
{% endblock %}
